/* line 3, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\000033}}
body,
html,
.hero {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
/* line 10, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000310}}
.hero {
  text-align: center;
}
/* line 14, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000314}}
svg {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  display: block;
}
/* line 21, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000321}}
polygon.off {
  opacity: 0.1;
}
/* line 25, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000325}}
.copy {
  font: normal 1em/1.618em 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background: #fff;
  padding: 2em 3em;
  display: block;
  overflow: hidden;
}
/* line 31, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000331}}
.copy p {
  margin-bottom: 20px;
}
/* line 34, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000334}}
.copy p + p {
  text-indent: 2em;
}
/* line 37, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000337}}
.copy h2 {
  margin-top: 2em;
}
/* line 40, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000340}}
.copy footer {
  clear: both;
  margin-top: 2em;
  text-align: right;
  color: #777;
  font-size: 0.618em;
  line-height: 1.618em;
}
/* line 47, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000347}}
.copy footer span {
  display: block;
}
/* line 53, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000353}}
.timeline {
  overflow: hidden;
  border-left: 5px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
}
/* line 57, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000357}}
.timeline span.start {
  float: left;
}
/* line 60, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000360}}
.timeline span.end {
  float: right;
}
/* line 63, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000363}}
.timeline ul {
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #eee;
  display: block;
  height: 3em;
}
/* line 72, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000372}}
.timeline li {
  height: 100%;
  float: left;
}
/* line 76, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000376}}
.timeline ul,
.timeline li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 81, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000381}}
.timeline li.child-hood {
  width: 20%;
  background: #3cf;
}
/* line 85, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000385}}
.timeline li.school {
  width: 60%;
  background: #f36;
}
/* line 89, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000389}}
.timeline li.work {
  width: 20%;
}
@media (max-width: 42em) {
  /* line 95, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\0000395}}
  .copy {
    padding: 1em 2em;
  }
}
@media (min-width: 43em) {
  /* line 102, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\00003102}}
  .copy p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
@media (min-width: 115em) {
  /* line 111, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\00003111}}
  .copy p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
/* line 118, /Users/janjarfalk/Projects/jj-monogram/less/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/janjarfalk\/Projects\/jj-monogram\/less\/main\.less}line{font-family:\00003118}}
.score {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  opacity: 0.2;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22less%2Fmain.less%22%2C%22less%2Flesshat.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3BAAEI%3BAAAM%3BAAAQ%3BEAChB%2CUAAA%3BEACA%2CSAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3B%3B%3B%3BAAGI%3BEACJ%2CkBAAA%3B%3B%3B%3BAAGE%3BEACF%2CYAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2CcAAA%3B%3B%3B%3BAAGK%2COAAK%3BEACR%2CYAAA%3B%3B%3B%3BAAGE%3BEACJ%2CyBAAyB%2CkBAAkB%2CaAAa%2CSAAS%2CYAAjE%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CgBAAA%3B%3B%3B%3BAALI%2CKAMF%3BEACA%2CmBAAA%3B%3B%3B%3BAAPE%2CKASF%2CEAAI%3BEACJ%2CgBAAA%3B%3B%3B%3BAAVE%2CKAYD%3BEACD%2CeAAA%3B%3B%3B%3BAAbE%2CKAeG%3BEACL%2CWAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CoBAAA%3B%3B%3B%3BAArBE%2CKAeG%2COAOA%3BEACH%2CcAAA%3B%3B%3B%3BAAKI%3BEACR%2CgBAAA%3BEACA%2C0CAAA%3BEACA%2CmBAAA%3B%3B%3B%3BAAHQ%2CSAIJ%2CKAAO%3BEACT%2CWAAA%3B%3B%3B%3BAALM%2CSAOJ%2CKAAK%3BEACP%2CYAAA%3B%3B%3B%3BAARM%2CSAUL%3BEACD%2CWAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CWAAA%3B%3B%3B%3BAAjBM%2CSAmBL%3BEACD%2CYAAA%3BEACA%2CWAAA%3B%3B%3B%3BAArBM%2CSAuBN%3BAAvBM%2CSAuBD%3BEACL%2CSAAA%3BEACA%2CUAAA%3BEACA%2CqBAAA%3B%3B%3B%3BAA1BM%2CSA4BN%2CGAAY%3BEACZ%2CUAAA%3BEACA%2CgBAAA%3B%3B%3B%3BAA9BM%2CSAgCN%2CGAAQ%3BEACR%2CUAAA%3BEACA%2CgBAAA%3B%3B%3B%3BAAlCM%2CSAoCN%2CGAAM%3BEACN%2CUAAA%3B%3BAAQH%2CQAJwB%3B%3B%3BEACjB%3BIACJ%2CgBAAA%3B%3B%3BAAWH%2CQAPwB%3B%3B%3BEACjB%2CKACF%3BICk1BoR%2CuBAAA%3BIAEA%2CoBAAA%3BIAEA%2CeAAA%3BIAqBA%2CuBAAA%3BIAEA%2CoBAAA%3BIAEA%2CeAAA%3B%3B%3BADj2BzR%2CQAPyB%3B%3B%3BEAClB%2CKACF%3BICy0BoR%2CuBAAA%3BIAEA%2CoBAAA%3BIAEA%2CeAAA%3BIAqBA%2CuBAAA%3BIAEA%2CoBAAA%3BIAEA%2CeAAA%3B%3B%3B%3B%3BAD%2F1BnR%3BEACH%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CqBAAA%3BEACA%2CaAAa%2CaAAa%2CSAAS%2CYAAnC%22%7D */